@model RisIsp.WebMvc.ViewModels.ContractEditorViewModel

@{ 
    ViewBag.Title = "Uredi ugovor";
}

<form asp-action="Edit" asp-route-id="@Model.Contract.Id" method="post">
    <input type="hidden" asp-for="Contract.Id" />
    <div class="page-header">

        <ul class="pagination">
            <li @if (Model.Contract.Id == Model.ContractIds.Min()) { <text> class="disabled" </text>    }>
                @{ 
                    var previousIdIndex = Model.ContractIds.IndexOf(Model.Contract.Id) - 1;
                    var previousId = Model.ContractIds.ElementAtOrDefault(previousIdIndex);
                }
                <a asp-action="Edit" asp-route-id="@previousId">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    Prethodni
                </a>
            </li>
            @for(int i = 0; i < Model.ContractIds.Count(); ++i)
            {
                var id = Model.ContractIds.ElementAt(i);
                if (id == Model.Contract.Id)
                {
                    <li class="active"><a href="#">@id</a></li>

                }
                else
                {
                    <li><a asp-action="Edit" asp-route-id="@id">@id</a></li>

                }

            }
            <li @if (Model.Contract.Id == Model.ContractIds.Max()) { <text> class="disabled" </text>    }>
                @{ 
                    var nextIdIndex = Model.ContractIds.IndexOf(Model.Contract.Id) + 1;
                    var nextId = Model.ContractIds.ElementAtOrDefault(nextIdIndex);
                }
                <a asp-action="Edit" asp-route-id="@nextId">
                    Sljedeći
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </li>
        </ul>


            <div class="btn-group pull-right">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                    Pohrani
                </button>

                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Contract.Id">
                    <span class="glyphicon glyphicon-remove"></span>
                    Obriši
                </a>
            </div>
        </div>
        <h2>@ViewBag.Title <strong>@Model.Contract.Id</strong></h2>

        @Html.Partial("_Editor", Model)
</form>

@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}