@model RisIsp.WebMvc.ViewModels.ContractEditViewModel

@{ 
    ViewBag.Title = "Uredi ugovor";
}

<form asp-action="Edit" asp-route-id="@Model.Contract.Id" method="post">
    <div class="page-header">

        <div class="pull-right">
            <ul class="pagination">
                <li @if (Model.Contract.Id == 1) { <text> class="disabled" </text>   }>
                    <a asp-action="Edit" asp-route-id="@(Model.Contract.Id - 1)">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Prethodni
                    </a>
                </li>
                @for (int id = 1; id <= Model.NumberOfContracts; ++id)
                {
                    if (id == Model.Contract.Id)
                    {
                            <li class="active"><a href="#">@id</a></li>

                        }
                        else
                        {
                            <li><a asp-action="Edit" asp-route-id="@id">@id</a></li>

                        }

                    }
                    <li @if (Model.Contract.Id == Model.NumberOfContracts) { <text> class="disabled" </text>   }>
                        <a asp-action="Edit" asp-route-id="@(Model.Contract.Id + 1)">
                            Sljedeći
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </a>
                    </li>
                </ul>

                <div class="left">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                        Pohrani
                    </button>
                </div>
            </div>
            <h2>@ViewBag.Title <strong>@Model.Contract.Id</strong></h2>
        </div>

        <div class="">
            <fieldset class="col-md-4">
                <legend>Vlasnik priključka</legend>

                <div>
                    <label asp-for="Contract.Customer.FirstName" class="control-label"></label>
                    <input asp-for="Contract.Customer.FirstName" class="form-control" />
                </div>

                <div>
                    <label asp-for="Contract.Customer.LastName" class="control-label"></label>
                    <input asp-for="Contract.Customer.LastName" class="form-control" />
                </div>
            </fieldset>
            <fieldset class="col-md-8">
                <legend>Adresa priključka usluge</legend>

                <div class="col-sm-4">
                    @{
                        var areaCodesSelectList = new SelectList(Model.AreaCodes);
                    }
                    <label asp-for="Contract.Address.AreaCode" class="control-label"></label>
                    <select asp-for="Contract.Address.AreaCode" asp-items="@areaCodesSelectList" class="form-control"></select>
                </div>

                <div class="col-sm-6">
                    @{
                        var addressesSelectList = new SelectList(Model.Addresses.Select(x => x.StreetName));
                    }
                    <label asp-for="Contract.Address.StreetName" class="control-label"></label>
                    <select asp-for="Contract.Address.StreetName" asp-items="addressesSelectList" class="form-control"></select>
                </div>

                <div class="col-sm-2">
                    <label asp-for="Contract.Address.StreetNumber" class="control-label"></label>
                    <input asp-for="Contract.Address.StreetNumber" class="form-control" />
                </div>

                <div class="col-sm-12">
                    <label class="control-label"></label>
                    <input type="hidden" />
                </div>
            </fieldset>
        </div>

        <fieldset class="col-xs-12">
        <legend>Usluge i paketi</legend>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>
                        Vrsta usluge
                    </td>
                    <td>
                        Paket usluge
                    </td>
                    <!--
                    <td>
                        Mjesečna cijena paketa
                    </td>
                    -->
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Model.Contract.ServicePackages.Select(x => x.Service))
                {
                    <tr>
                        <td>
                            @service.Category
                        </td>
                        <td>
                            @{
                                var servicePackagesSelectList = new SelectList(Model.ServicePackages.Where(x => x.Service.Id == service.Id), null, "NameAndMonthlyPrice");
                            }
                            <select asp-items="@servicePackagesSelectList" class="form-control"></select>
                        </td>
                        <!--<td>

                        </td>
                        -->
                    </tr>

                }
            </tbody>
        </table>

    </fieldset>
</form>