@model RisIsp.WebMvc.ViewModels.ContractIndexViewModel

@{ 
    ViewBag.Title = "Ugovori";
}

<div class="page-header">
    <div class="pull-right">
        <a asp-action="Create" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> 
            Novi ugovor
        </a>
    </div>
    <h2>@ViewBag.Title</h2>
</div>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Datum potpisivanja
            </th>
            <th>
                Korisnik
            </th>
            <th>
                Adresa
            </th>
            <td>
                Cijena mjesečno
            </td>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contract in Model.Contracts)
        {
            <tr>
                <td>
                    @contract.Id
                </td>
                <td>
                    @contract.SignDate
                </td>
                <td>
                    @contract.Customer.FormalFullName
                </td>
                <td>
                    @contract.Address.FullAddress
                </td>
                <td>
                    @contract.TotalMonthlyPrice
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@contract.Id" class="text-info">
                        <span class="glyphicon glyphicon-edit"></span>
                        Uredi
                    </a>
                    <a asp-action="Delete" asp-route-id="@contract.Id" class="text-danger">
                        <span class="glyphicon glyphicon-remove"></span> 
                        Obriši
                    </a>
                </td>
            </tr>

        }
    </tbody>
</table>